monai==0.10.0
torch==1.9.0
torchvision==0.10.0
numpy
nibabel
scipy
typing-extensions
threadpoolctl
packaging
dataclasses
fsspec
pytorch-lightning
h5py
typing
lxml
Pillow
torchaudio
transformers
torchdiffeq
